
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Existing Groups</h3>
  </div>
  <div class="panel-body">
    <p>All groups with the number of documents in them</p>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="list-group">
        <div class="row">
          <div class="col-md-8"><a href="#" class="list-group-item active">Group Name</a></div>
       <!--   <div class="col-md-4"><a href="#" class="list-group-item">Action</a></div>   -->
        </div>
        <% @groups.each do |group| %>
            <div class="row">
              <div class="col-md-8"><a href= <%= 'groups/' + group.id.to_s%> class="list-group-item">
                <span class="badge"><%=@group_docs[group.id].size%></span>
                <%= group.group_name %></a>
              </div>
              <div class="col-md-4">
                <div class="col-md-4"><%= link_to 'Show', group_documents_path(group) , {class: ["btn btn-primary ", "container-fluid"]}%></div>
                <div class="col-md-4"><%= link_to 'Edit', group_url(group), {class: "btn btn-info " }%></div>
                <div class="col-md-4"><%= link_to 'Delete', group, {class: "btn btn-danger ", method: :delete, data: { confirm: 'Are you sure?' }} %></div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4"><a href="#" class="list-group-item">Documents</a></div>
  </div>

</div>


<%= link_to 'New Group', new_group_path %>
