<div class="page-header">
  <h1>Current users <small>below are the information of current users</small></h1>
</div>


<table class="table">
  <thead>
  <tr>
    <th>Pennkey</th>
    <th>Email</th>
    <th>School</th>
    <th>Privilege</th>
    <th colspan="1"></th>
  </tr>
  </thead>



  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.pennkey %></td>
        <td><%= user.email %></td>
        <td><%= user.school %></td>
        <td><%= user.privilege %></td>
        <td><%= link_to 'documents', user, {class: "btn btn-primary " } %></td>
        <td><%= link_to 'privilege', user, {class: "btn btn-info " } %></td>
        <td><%= link_to 'delete', user, {class: "btn btn-danger ", method: :delete, data: { confirm: 'Are you sure?' }} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

