<div class="page-header">
  <%if @tag == 1%>
      <h1>Current documents<small> Listed are the documents in current group</small></h1>
  <% else %>
      <h1>Current documents<small> Listed are the documents you can view</small></h1>
  <% end %>

</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Documents</h3>
  </div>
  <div class="list-group">
    <div class="row">
      <div class="col-md-8"><a href="#" class="list-group-item">Document Name</a></div>
    </div>
    <% @documents.each do |document| %>
      <div class="row">
        <div class="col-md-8"><a href= <%= 'documents/' + document.id.to_s%> class="list-group-item"><%= document.document_name %></a></div>
        <div class="col-md-1"><%= link_to 'Show', document , {class: "btn btn-primary "}%></div>
        <div class="col-md-1"><%= link_to 'Edit', edit_document_path(document), {class: "btn btn-info " }%></div>
        <div class="col-md-1"><%= link_to 'Delete', document, {class: "btn btn-danger ", method: :delete, data: { confirm: 'Are you sure?' }} %></div>
      </div>
    <% end %>
  </div>

</div>

<br>

<%= link_to 'New Document', new_document_path %>
