<!DOCTYPE html>
<html>
<head>
  <title>PublicSafety</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Crisis Management</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a class="navbar-brand" href="#">Documents <span class="sr-only">(current)</span></a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user == nil%>
            <button type="button" class="btn btn-primary navbar-btn">Sign up</button>
            <button type="button" class="btn btn-primary navbar-btn">Sign in</button>
        <% else%>
            <li><a class="navbar-brand" href="#">Link</a></li>
            <li class="dropdown">
              <a class="navbar-brand" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Contact Admin</a></li>
                <li class="divider"></li>
                <li><a href="signed_out">Sign out</a></li>
              </ul>
            </li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if current_user %>
    Logged in as <%= current_user.pennkey %>.
    <%= link_to "Sign Out", signed_out_path %>
    <%= link_to "Account Settings", current_user %>
<% else %>
    <%= link_to "Sign up", new_user_path %> or
    <%= link_to "Sign In", sign_in_path %>
<% end %>

<body>

<%= yield %>

</body>
</html>
